.gridCarrito {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "navb navb navb"
        "carr carr carr"
        "vist vist vist"
        "foot foot foot";
}

.containerCarrito {
    grid-area: carr;
    display: flex;
    flex-direction: column;
    background-color: rgb(33 37 41);
    gap: 0.2rem;
    justify-items: center;
    align-items: flex-start;
    border: 1rem solid;
    .card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 80%;
    background-color: #a9a9a9;
    }
    div {
        display: flex;
        flex-direction: row;
        height: 5rem;
        align-items: center;
        }
        img {
            cursor: pointer;
            height: 5rem;
            width: 5rem;
            border-radius: 1rem;
        }
        .infoCarrito {
            display: flex;
            flex-direction: row;
            justify-content: first baseline;
            width: 50rem;
        h3 {
            width: 15rem;
            display: flex;
            justify-content: space-evenly;
        }
    }
    }
        
        .btnBorrar {
            color: rgb(255 255 255);
            height: 5rem;
            width: 5rem;
            background-color: #212529;
            border-radius: 50%;
            border: rgb(255 255 255) 2px solid;
        }
    
            .vistaPreviaCarrito {
                grid-area: vist;
                display: flex;
                flex-direction: row;
                background-color: #a9a9a9;
                text-align: center;
                height: 5rem;
                align-items: center;
                justify-content:space-around;
                h5 {
                    font-size: 1rem;
                    color: #0f0f0f;
                }    
                #borrarProductos, #pagar{
                text-transform: none;
                border-radius: 0.5rem;
                padding: 0.2rem;
                background-color: #212529;
                color:rgb(255 255 255);
                border: rgb(255 255 255) 2px solid;
            }
        }

        .eliminarTodo {
            background-color: #f30707;
        }


        #total {
            color: rgb(255, 255, 255);
            text-shadow: rgb(5 86 223 / 50%) 0 4rem 3rem;
        }

        .wave {
            grid-area: wav;
            display: flex;
            background: linear-gradient(to left, rgba(0, 0, 0, 0.267), rgba(255, 255, 255, 0.39)), url("../img/carrito/dde.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            text-align: center;
            height: 35.4rem;
            align-items: center;
            justify-content: center;
            h3 {
                font-size: 5rem;
                color: hsl(240, 3%, 87%);
            }    
        }
            .wave:hover {
                background-color: hsl(240, 3%, 87%);
                h3 {
                    color: #000000;
                    text-shadow:rgb(255 255 255) 0 0 1rem;    
                    text-decoration: underline;  
                        }  
                }

                .formulario{
                    display: none;
                }

                #botonOculto {
                    color: rgb(255, 255, 255);
                }
    @media (min-width: 577px) and (max-width: 835px) {

        .gridCarrito {
            display: grid;
            height: 100vh;
            grid-template-areas: 
                "navb"
                "nov"
                "car"  
                "wav"
                "foot";
            grid-template-columns: 100vw;
        }
        
        .novedades {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000000;
            flex-direction: column;
            .novedades__cont {
                padding: 2rem;
                grid-area: nov;
                width: 40rem;
            }
            .novedades__título {
                color: #dddddf;
                font-size: 2rem;
                padding: 1rem;
                h3 {
                text-align: center;
                text-shadow: rgba(5, 86, 223, 0.5) 0 4rem 3rem;
                text-transform: capitalize;
                font-size: 5rem;
                margin-bottom: 4rem;
                }
                }
            }
        
        .compra {
            height: auto;
            background-color:#626263;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            span {
                display: block;
                white-space: nowrap;
                color: #dee7f3;
                border-right: 5px solid #dee7f3;
                width: 39ch;
                animation: escribir 5s steps(43),
                parpadeo 0.4s infinite alternate;
                overflow:hidden ;
                }
                @keyframes escribir {
                from {
                    width: 0;
                    }
                }
                @keyframes parpadeo {
                    70% {
                    border-color: transparent;
                    }
                }
            }
        
        .carrito {
            display: grid;
            grid-area: car;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            background-color: #111112a8;
            gap: 1rem;
            justify-items: center;
            padding: 1rem;
            border: 1rem solid;
        }
    }
    @media (min-width: 325px) and (max-width: 576px) {

        .gridCarrito {
            display: grid;
            height: 100vh;
            grid-template-areas: 
                "navb"
                "nov"
                "car"  
                "wav"
                "foot";
            grid-template-columns: 100vw;
        }
        
        .novedades {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000000;
            flex-direction: column;
            .novedades__cont {
                padding: 2rem;
                grid-area: nov;
                width: 100vw;
            }
            h3 {
                text-align: center;
            }
        }

        .compra {
            height: auto;
            background-color:#626263;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
        }
        
        .carrito {
            display: grid;
            grid-area: car;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            background-color: #111112a8;
            gap: 1rem;
            justify-items: center;
            padding: 1rem;
            border: 1rem solid;
        }

    }